.log-form{
  width: 755px;
  margin: 0 auto;
}
.auth {
    width: 755px;
    position: absolute;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 0 70px 0;
    background: #fff;
    border: 1px solid #acacac;
}
.reset-link {
    text-align: right;
    width: 555px;;
}
.reset-link a {
    font-size: 16px;
    color: #3f3f3f;
}
.auth-field {
    width: 555px;
    display: flex;
    margin-bottom: 22px;
    position: relative;
    cursor: pointer;
}
.auth-field img {
    position: absolute;
    top: 20px;
    right: 12px;
    cursor: pointer;
}
@media (min-width: 980px) {
    .auth-field:hover  label{
        background: #479e47;
        color: #fff;
    }

}
.auth-field:hover input{
    border-color: #479e47;
}
.auth-field label {
    flex-basis: 24.8%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #dcede4;
    padding: 15px 0;
}
.auth-field input {
    flex-basis: calc(75.2% - 10px);
    border: 1px solid #dcede4;
    font-size: 16px;
    padding-left: 10px;
    position: relative;
}

.auth-btns { margin-top: 20px; }
.rest-password-btn {
    margin: 0 auto;
    color: #fff;
    width: 50%;
    padding: 23px 0;
    font-size: 16px;
    font-weight: bold;
    background: #bf1e2e;
    cursor: pointer;
    border-radius: 25px;
}
.auth-field .select-phone {
    position: absolute;
    right: 0;
    width: 75.2%;
    top: 100%;
    z-index: 50;
}
.auth-field .hidden-select-list  {
    top: 0;
}
.not_clicked_phone:after{
    content: "";
    position: absolute;
    background: url("./img/not_clicked.png");
    display: block;
    width: 14px;
    height: 7px;
    right: 15px;
    top: 22px;
    background-repeat: no-repeat;
}
.clicked_phone:after{
    content: "";
    position: absolute;
    background-image: url("./img/clicked.png");
    display: block;
    width: 14px;
    height: 7px;
    right: 15px;
    top: 22px;
    background-repeat: no-repeat;
}
.auth-field .hidden-select-list li {
    padding: 15px 0 10px 60px;
    width: calc(100% - 60px);
    position: relative;
}
.auth-field .hidden-select-list li:hover {
    color: #8dc18d;
}
.auth-field .hidden-select-list li::before{
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 19px;
    left: 15px;
    top: 17px;
    background-repeat: no-repeat;
}
.auth-field .hidden-select-list li:first-child::before{
    background-image: url("./img/ua.png");
}
.auth-field .hidden-select-list li:nth-child(2)::before{
    background-image: url("./img/ru.png");
    top: 15px;
}
.auth-field .hidden-select-list li:nth-child(3)::before{
    background-image: url("./img/br.png");
    top: 15px;
}
.rest-password-btn:hover{
    background: #479e47;
}
.auth-field .hidden-select-list::-webkit-scrollbar{
    display: none;
}
.auth-btns button{
    font-size: 16px;
    font-weight: bold;
    background: #bf1e2e;
    color: #fff;
    border: none;
    border-radius: 25px;
    width: 260px;
    padding: 23px 0;
    cursor: pointer;
    margin: 0 15px;
}
.auth-btns button:hover{
    background: #479e47;
}

.auth-logo {
    background-image: url('img/logo.png');
    width: 165px;
    height: 165px;
    background-repeat: no-repeat;
    padding-bottom: 42px;
}


.error-sign::after, .wrong-pass::after{
    position: absolute;
    bottom: -25px;
    left: 0;
    color: red;
}
.required-field::after{
    content: 'Обязательное поле!';
    position: absolute;
    right: -35px;
    top: -20px;
    color: red;
}
.wrong-pass::after {
    content: "К сожалению, Вы ввели неправильный пароль.Проверьте правильность набора пароля и повторите попытку входа.";
}
.error-sign::after {
    content: 'Пароли должны совпадать!';
}
.auth-field .empty {
    border-color: red;
}
.auth-field .invalidPass {
    border-color: red;
}
.confirm {
    text-align: center;
}
.confirm h1{
    font-size: 20px;
    font-weight: bold;
}
.confirm p {
    font-weight: 300;
    padding-top: 30px;
    max-width: 360px;
    font-size: 20px;
    margin: 0 auto;
}
@media(max-width: 820px){
    .log-form {
        width: 100%;
    }
    .auth {
        width: 100%;
        height: 100vh;
        min-height: 515px;
        padding-top: 100px;
        margin: 0;
    }
    .auth-field, .reset-link {
        width: 93%;
    }
    .auth-btns {
        width: 93%;
    }
    .auth-btns button {
        width: 50%;
        margin: 0;
    }
    .auth-btns a {
        display: inline-block;
        width: calc(50% - 4px);
        text-align: left;
        margin: 0 2px;
    }
    .auth-btns a button {
        width: 100%;
        display: inline-block;
        margin: 0;
    }
}
.auth-err {
    position: absolute;
    color: red;
    border: 1px solid red;
    border-radius: 25px;
    background: #fff;
    font-size: 14px;
    padding: 17px 20px 15px 30px;
    width: calc(100% - 50px);
    z-index: 1050;
    top: 110%;
}
.auth-err::before{
    content: "";
    display: block;
    width: 10px;
    height: 5px;
    position: absolute;
    top: -6px;
    left: 50%;
    z-index: 1050;
    background-image: url("./img/after.png");
}
